.top {
    background-color: rgb(43, 43, 43);
    color: white;
    text-align: center;
}
.footer {
    background-color: rgb(43, 43, 43);
    color: white;
    text-align: center;
}
body{
    background-color: rgb(43, 43, 43);
    color: white;
    text-align: left;
}